body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    color: #F27D72;
  }
  
  p {
    color: #94BDF2;
  }
  
  .projects {
    margin-top: 40px;
  }
  
  .skills {
    margin-top: 40px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  .skill-item {
    background-color: #CAF272;
    padding: 8px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 4px;
  }
  
  .skill-item:last-child {
    margin-right: 0;
  }
  