@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #000000;
  --primary-color: #d57db6;
  --secondary-color: #eddce5;
  --primary-shadow: #e2cfe8;
  --secondary-shadow: #a16982;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: #000000;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(115, 83, 97, 0.77);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  padding-top: 30px;
  height: 450px; 
  width: auto; 
}

.bio {
  width: 450px;
  padding: 0.625rem;
  border-radius: 6px;
  /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
  color:rgb(220, 183, 201)
}
.bio h2 {
  margin-bottom: var(--bottom-margin);
  color:rgb(220, 183, 201)
}
.bio h4 {
  margin-bottom: var(--bottom-margin);
  color:rgba(220, 183, 201, 0.618)
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  color:rgb(220, 183, 201)
}

.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  padding-top: 40px;
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color:rgb(220, 183, 201)
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
  color:rgba(220, 183, 201, 0.618)
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  max-width: 600px;
  height: auto;
}

.project-title {
  color:rgb(220, 183, 201);
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container p {
  padding: 0.4rem;
  color:rgba(220, 183, 201, 0.823)
}

.project-card {
  background-color: rgb(0, 0, 0);
  max-width: 600px;
  border-radius: 11px;
  padding: 20px;
  margin: 10px;
}